<div class="main">
  <div class="form-group mb-4">
    <input id="search-input" class="search-input" type="text" [(ngModel)]="searchText" placeholder={{this.constants.search}}>
  </div>

  <div *ngIf="!isDataLoaded" class="loading">{{this.constants.loading}}</div>
  <div *ngIf="errorDetected && isDataLoaded" class="error">{{this.constants.error}}</div>
  <div class="list" *ngIf="(list | filter: searchText).length > 0; else noResults">
    <div class="row">
      <div class="item-list col-sm"
      routerLink="['/home2']" 
      (click)="[onRowClicked(article)]"
      routerLinkActive='active'
      *ngFor="let article of list | filter: searchText" role="listitem"
      > 
          <mat-icon class="material-icons color_green" matListItemIcon>{{iconList.get(article.type)}}</mat-icon>
          <div class="item-content">
            <div class="item-title">{{article.title}}</div>
            <div class="item-by">by {{article.by}}</div>
          </div>

    </div>
  </div>
  </div>
  <ng-template #noResults >
    <p class="noresult" *ngIf="isDataLoaded && !this.errorDetected">{{this.constants.emptyList}} "{{searchText}}".</p>
  </ng-template>

</div>