
.main{
    flex-direction: column;
    display: flex;
    height: 100%;
    width: -webkit-fill-available;
    max-width: 480px;
    margin:  0px auto 0px auto;
}

.app-content{
    display: flex;
    flex: 1;
}

::ng-deep * {
      
    margin: 0;
    padding: 0;
}
